.vps {
	padding: 30px;
	.btn {
		background-color: #2761d1;
		color: white;
		font-size: 1rem;
		display: inline-block;
		padding: 0.375rem 0.75rem;
		font-weight: 400;
		text-align: center;
		border: 1px solid white;
		transition: color 0.15s ease-in-out;
	}
}
.vpsText {
	font-size: 1rem;
	line-height: 1.2;
	font-weight: 400;
}

.vps:hover,
.vps:hover .btn {
	background: rgba(33, 112, 23, 1);
	background: radial-gradient(
		at left bottom,
		rgba(33, 112, 23, 1),
		rgba(60, 136, 49, 1)
	);
	color: white;
	border-color: white;
}
