.containerBlock {
	padding-top: 20px;
	padding-left: 16px;
	padding-right: 16px;
	min-height: 488px;

	> span {
		white-space: normal;
	}

	p {
		font-size: 1rem;
		line-height: 1.2;
		font-weight: 400;
	}

	h5 {
		display: flex;
		align-items: baseline;
		margin-right: 0;
		flex-wrap: wrap;
	}

	@apply text-mainTextColor;
}
.linkGroup {
	display: flex;
	justify-content: flex-start;
	/* &:hover {
		background-color: #1b4391 !important;
		color: white;
		border-color: white;
	} */
}
.servicesBlock {
	font-size: 2.5rem;
	font-weight: 700;
}

.gridBlock {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
