.containerBlock {
	padding-top: 20px;
	padding-left: 16px;
	padding-right: 16px;
	/* min-height: 488px;
	padding-bottom: 16px; */

	> span {
		white-space: normal;
	}

	h5 {
		display: flex;
		align-items: baseline;
		margin-right: 0;
		flex-wrap: wrap;
	}

	@apply text-mainTextColor;
}
/* .linkGroup { */
/* display: flex; */

/* &:hover {
		background-color: #1b4391 !important;
		color: white;
		border-color: white;
	} */
/* } */
.servicesBlock {
	font-size: 2.5rem;
	font-weight: 700;
}

.gridBlock {
	display: grid;
	grid-template-columns: 1fr 1fr;
	/* a {
		margin-bottom: 0.5rem;
	} */
}
