.servers {
	padding: 30px;
	.btn {
		background-color: #2761d1;
		color: white;
		font-size: 1rem;
		display: inline-block;
		padding: 0.375rem 0.75rem;
		font-weight: 400;
		text-align: center;
		border: 1px solid white;
		transition: color 0.15s ease-in-out;
	}
}

.serversText {
	font-size: 1rem;
	line-height: 1.2;
	font-weight: 400;
}

.servers:hover,
.servers:hover .btn {
	background: rgba(37, 41, 56, 1);
	background: radial-gradient(
		at left bottom,
		rgba(37, 41, 56, 1),
		rgba(47, 58, 91, 1)
	);
	color: white;
	border-color: white;
}
