@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&family=Source+Sans+3:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
	margin: 0 auto;
	font-family: 'Source Sans 3', sans-serif;
}
body {
	background-color: white;
}

.containerBody {
	max-width: 100%;
	background-color: #f3f3f4;
}

.container {
	max-width: 1140px;
}
