.domains {
	padding: 30px;
	.searchInput {
		display: block;
		width: 100%;
		height: calc(1.5em + 0.75rem + 2px);
		padding: 0.5rem calc(34px + 0.5rem) 0.5rem 0.5rem;
		font-size: 1.125rem;
		font-weight: 400;
		line-height: 1.5;
		color: #495057;
		background-color: #fff;
		background-clip: padding-box;
		border: 1px solid #ced4da;
		transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	}
}

.zones {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}
.zone {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	max-width: 100%;
}
.zoneTitle {
	font-size: 1.5rem;
	margin-bottom: 0;
	color: inherit;
	text-transform: uppercase;
	font-weight: 700;
}
.zoneText {
	margin-bottom: 0;
	font-size: 0.75rem;
	font-weight: 400;
}

.inputBtn {
	@apply bg-mainBlue border-[mainBlue];
	position: absolute;
	font-size: 1.125rem;
	padding: 0.25rem 0.4375rem;
	cursor: pointer;
	right: 0.25rem;
	top: 0.25rem;
	bottom: 0.25rem;
	color: white;
}
.inputBtnSvg {
	display: block;
	/* width: 1.125rem;
	height: 1.125rem; */
}

svg {
	overflow: hidden;
}
.domains:hover,
.domains:hover .btn {
	background: rgba(51, 13, 89, 1);
	background: radial-gradient(
		at left bottom,
		rgba(51, 13, 89, 1),
		rgba(111, 59, 160, 1)
	);
	color: white;
	border-color: white;
}
